* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #abb3e7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 20px;
    background-color: #4B4F65;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header section {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header section ul, .footer ul {
    list-style-type: none;
}

.header section ul li, .footer ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
    text-align: right;
    margin-left: 250px;
    margin-right: 20px;
    font-weight: bold;
}

.content {
    width: 75%;
    display: inline;
    margin-left: 25px;
}

.titles h2, .footer h2 {
    margin-bottom: 10px;
    font-size: 48px;
    color: black;
}

.card {
    display: inline;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    width: 50%;
    height: 50%;
}

.card img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

.footer {
    color: #ffffff;
}